@import"./footer.css";
@font-face {
    font-family: "F1_bold";
    src: url("../font/Formula1-Bold.otf");
    /* src: url("https://alldata.sgp1.digitaloceanspaces.com/fonts/NotoSerifTC/NotoSerifTC-Light.otf"); */
}

@font-face {
    font-family: "F1_regular";
    src: url("../font/Formula1-Regular.otf");
    /* src: url("https://alldata.sgp1.digitaloceanspaces.com/fonts/NotoSerifTC/NotoSerifTC-Light.otf"); */
}

div.container {
    width: 1200px;
    margin: 0 auto;
    font-size: 0px;
}

header.main_header {
    /* border: 1px solid red; */
    margin: 0 auto;
    display: inline-block;
    font-size: 0;
    min-height: 100%;
    width: 1200px;
    background-image: url(../pictures/banner_img.png);
    background-size: 100% 5px;
    background-repeat: no-repeat;
}


/* header.main_header div.background_img {
background-image: url(../pictures/banner_img.png);
background-size: contain;
background-repeat: no-repeat;
} */

img.banner_box {
    /* border: 3px solid green; */
    min-height: 100%;
    width: 100%;
}

header.main_header nav.main {
    display: inline-block;
    vertical-align: middle;
    min-height: 100%;
    width: 100%;
}


/* header.main_header a.logo_img img{
border: 2px solid green;
} */

header.main_header nav.main_nav ul.link_list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
    /* border: 3px solid purple; */
    width: 100%;
    font-size: 20px;
    display: block;
    /* padding-bottom: 10px; */
    font-family: "f1_bold";
}

header.main_header nav.main_nav ul.link_list>li {
    display: inline-block;
}

header.main_header nav.main_nav ul.link_list>li>a {
    /* border: 2px solid yellow; */
    display: inline-block;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    margin-left: 60px;
    color: black;
    padding-top: 5px;
}

header.main_header nav.main_nav ul.link_list>li>a.logo_img {
    /* border: 1px solid fuchsia; */
    margin-left: 0;
    padding-top: 18px;
    margin-bottom: 10px;
}

header.main_header ul.alert {
    font-size: 14px;
    margin: 0px;
    list-style: none;
    background-color: black;
    opacity: 0.8;
    color: white;
    height: 24px;
    padding: 0%;
}

header.main_header ul.alert>li {
    vertical-align: middle;
    padding-top: 3.5px;
    padding-left: 20px;
    font-family: "F1_regular";
}

header.main_header nav.main_nav ul.link_list>li>a.b_n {
    /* border: 1px solid fuchsia; */
    color: rgb(111, 177, 12);
}

img.img_flow {
    /* border: 1px solid brown; */
    min-height: 100%;
    width: 100%;
    font-size: 0px;
    position: relative;
    /* border: 2px solid red; */
}

div.pic_container>h1 {
    font-size: 50px;
    font-family: f1_bold;
    color: white;
    z-index: 1;
    bottom: 20%;
    margin: 0;
    margin-left: 20px;
    position: absolute;
}

div.goal {
    font-size: 14px;
    height: 250px;
    position: relative;
    width: 100%;
}

div.goal>h1 {
    font-size: 40px;
    font-family: f1_bold;
    left: 25%;
    margin: 0;
    margin-top: 3%;
    margin-left: 10%;
}

div.goal>p {
    font-family: 'Arimo', sans-serif;
    line-height: 1.5;
    margin-top: 5px;
    width: 600px;
    margin-left: 10%;
}

div.goal img {
    display: inline-block;
    position: absolute;
    right: 20%;
    top: 30%;
}

div.instructors {
    font-size: 16px;
}

div.instructors>h1 {
    font-size: 30px;
    font-family: f1_bold;
    margin-bottom: 50px;
}

div.martha {
    position: relative;
    height: 300px;
    width: 100%;
}

div.martha>h1 {
    font-size: 25px;
    font-family: f1_bold;
}

div.martha>h3 {
    font-family: 'Arimo', sans-serif;
}

div.martha ul.his_list {
    font-family: 'Arimo', sans-serif;
    margin: 0;
    line-height: 1.5;
    padding: 0;
    font-size: 14px;
    padding-left: 10px;
}

div.martha img {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 300px;
}

div.stig {
    position: relative;
    height: 296px;
}

div.stig>h1 {
    font-size: 40px;
    font-family: f1_bold;
    position: absolute;
    right: 62%;
    top: 2%;
    margin: 0;
}

div.stig>h3 {
    font-family: 'Arimo', sans-serif;
    position: absolute;
    right: 45%;
    top: 15%;
}

div.stig ul.his_list {
    font-family: 'Arimo', sans-serif;
    margin: 0;
    line-height: 1.5;
    padding: 0;
    font-size: 14px;
    padding-left: 10px;
    position: absolute;
    right: 20%;
    top: 32%;
}

div.stig img {
    position: absolute;
    left: 10%;
    top: 0;
}